
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 20px;
}


.product {
  display: flex;
  background-color: #3a393b;
  border-radius: 7px;
  padding: 20px;
}

.productImg img {
  width: 400px;
  height: auto;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  margin-left: 45px;
}

.productName {
  font-size: 34px;
  margin-bottom: 12px;
  color: white;
}

.price {
  font-size: 20px;
  color: #e67e22;
  margin-bottom: 8px;
}

.categoryId {
  font-size: 18px;
  margin-bottom: 8px;
  color: white;
}

.description {
  font-size: 16px;
  color: white;
  margin-bottom: 16px;
}

.btn {
  padding: 10px 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 200px;
  height: 50px;
  font-size: 18px;
  margin: 150px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: #2980b9;
}

.idProduct {
  margin-left: 230px;
  margin-top: 20px;
  padding: 15px;
}

.edit {
  margin: 50px 25px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

